@use '../../../style/vars';
@use '../../../style/shadow';

.postAndComments {
	display: flex;
	flex-direction: column;
	padding-right: 3.5rem;
	height: fit-content;
	background: vars.$background-el1;
	border-radius: vars.$b-r;
	border: 1px solid #383838;
	@extend %shadow-diffuse;

	> .markdownForm {
		margin-left: 4rem;
	}
}

@media (orientation: landscape) {
	.postAndComments, {
		width: 60%;
	}
}
