@use '../../../style/vars';
@use '../../../style/shadow';

.postAndComments {
	display: flex;
	flex-direction: column;
	height: max-content;
	background: vars.$background-el1;
	border-radius: vars.$border-radius;
	border: 1px solid vars.$border-color;
	@extend %shadow-diffuse;

	> .markdownForm {
		margin: 1.5rem vars.$post-padding 1.5rem 4rem;
		@media (orientation: portrait) and (min-width: 320px) and (max-width: 480px) {
			margin: 1.5rem 1rem;
		}
	}

	.loadingIcon {
		width: 10rem;
		margin: 0 auto;
	}
}

@media (orientation: landscape) {
	.postAndComments, {
		width: vars.$widthL;
	}
}
