@use '../../../style/vars';
@use '../../../style/shadow';

.postAndComments {
	@extend %view-width-L;
	display: flex;
	flex-direction: column;
	height: max-content;
	background: vars.$background-el1;
	border-radius: vars.$border-radius;
	border: 1px solid vars.$border-color;
	@extend %shadow-diffuse;

	> .markdownForm {
		margin: 1.5rem vars.$post-padding 0 4rem;
		@media (max-width: vars.$mobile-screen-max-width) {
			margin: 1.5rem 1rem;
		}
	}

	> .loadingIcon {
		margin: 0 auto;
		width: 10rem;
	}
}
