
.commentsFeed {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 8rem;
	padding-right: 1rem;

	.parentCommentsLink {
		display: block;
		width: max-content;
		margin: 1rem 4rem;
		padding: .2rem 0.75rem;
		border: 1px solid;
		border-radius: 1rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
