
.infiniteScroller {
	display: flex;
	flex-flow: column;
	width: 100%;

	> * {
		margin: 0.75rem 0;
	}

	> .itemPlaceholder {
		--height: 0;
		width: 100%;
		height: var(--height);
		margin: 0;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: var(--height);
		}
	}
}

.hidePostLeftBar {
	.multiColumnView {
		&.multiColumn {
			.infiniteScroller > * {
				margin: 0.5rem 0;
			}
		}
	}
}
