@use "../../../../style/vars";

.universalFeed {
	width: 100%;
	padding: 0 calc(50vw - #{vars.$widthM} / 2);
	@media (orientation: portrait) {
		padding: 0 0.4rem 0 2.2rem;
	}
	display: flex;
	flex-flow: column;

	> * {
		margin: .75rem 0;
	}

	> .itemPlaceholder {
		--height: 0;
		width: 100%;
		height: var(--height);
		background: vars.$background-el1;
		margin: 0;
	}
}

.feedSorter {
	display: flex;
	gap: .25rem;
}

.header {
	.feedTitle {
		margin-right: .25rem !important;
		font-size: .85rem;
	}

	.showInfo {
		margin-left: 0 !important;
	}
}
