@use "../../../../style/vars";

.universalFeed {
	width: vars.$widthM;
	@media (orientation: portrait) {
		width: vars.$widthP;
		margin: 0 .4rem 0 auto;
	}
	display: flex;
	flex-flow: column;

	> * {
		margin: .75rem 0;
	}
}

.feedSorter {
	display: flex;
	gap: .25rem;
}

.header {
	.feedTitle {
		margin-right: .25rem !important;
		font-size: .85rem;
	}

	.showInfo {
		margin-left: 0 !important;
	}
}
