@use "../../../style/vars";
@use "../../../style/shadow";

.wiki:not(.md) {
	background: vars.$background-el1;
	border-radius: vars.$b-r;
	border: 1px solid vars.$border-color;
	width: 50%;
	height: max-content;
	padding: 2rem;
	@extend %shadow-diffuse;
}
