@use '../../../../style/vars';
@use '../../../../style/shadow';

.user {
	display: flex;
	align-items: center;
	gap: .5rem;


	&.mod {
		&::after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 0.6em solid vars.$user-mod-color;
			border-left: 0.3em solid transparent;
			border-right: 0.3em solid transparent;
			border-radius: 50%;
		}

		* {
			color: vars.$user-mod-color;
		}
	}

	&.admin {
		&::after {
			content: "";
			display: inline-block;
			width: .6em;
			height: .6em;
			border-radius: 50%;
			background: vars.$user-admin-color;
		}

		* {
			color: vars.$user-admin-color;
		}
	}

	&.op {
		margin-right: .75rem;
		margin-left: .75rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: vars.$primary-contrast;
			padding: .125rem 0.6rem;
			margin-left: -.6rem;
			border-radius: 1rem;
		}

		&.mod::before {
			background: vars.$user-mod-bg;
		}

		&.admin::before {
			background: vars.$user-admin-bg;
		}

		* {
			color: vars.$text-color;
		}
	}

	.cakeDay {
		height: 1rem;
		margin-left: -0.3rem;
	}

	.controversial {
		height: 1.25rem;
		width: 1rem;
		margin-left: -0.5rem;
		background-image: url("/img/cross.svg");
		background-size: cover;
	}
}

.feedItem {
	display: flex;
	position: relative;

	&.isInFeed {
		background: vars.$background-el1;
		border: 1px solid vars.$border-color;
		border-radius: vars.$border-radius;
		@extend %shadow-diffuse;

		&.isHidden {
			visibility: hidden;
		}

		&.remove {
			display: none;
		}

		.backgroundLink {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			transition: none;
			filter: initial;
		}

		a:not(.backgroundLink), .content > * {
			position: relative;
		}
	}

	img.pinned {
		width: 1.25rem;
		height: 1.25rem;
		transform: translateY(0.1rem) rotate(45deg);
		fill: green;
		filter: sepia(1) saturate(4.5) hue-rotate(45deg);
	}

	.actions {
		display: flex;
		flex-direction: column;
		align-items: center;

		.upvotes {
			height: .6rem;
			line-height: .7rem;
		}
	}

	.header {
		.locked {
			margin-left: auto;
			margin-right: 1rem;

			> img {
				height: 1.25em;
			}
		}
	}

	.content {
		word-break: break-word;
		overflow-wrap: anywhere;
		max-width: 100%;
	}
}
