@use "../../../../style/vars";

.tooltips {
	position: absolute;
	z-index: 99999999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tooltip {
	position: absolute;
	background: vars.$tooltip-bg;
	border-radius: 0.5rem;
	padding: .25rem .5rem;
	font-size: 0.85rem;
	white-space: nowrap;
	opacity: 0;
	transition: all .15s ease;

	&.show {
		opacity: 1;
	}
}