@use '../../style/defaults';
@use '../../style/helperClasses';
@use '../../style/shadow';
@use '../../style/vars';
@use '../../scripts/components/misc/dropDown/dropDown';

html, body {
	min-height: 100%;
	background: vars.$background;
}

#mainContent {
	@extend %view-width-M;
	margin: 0 auto;
	padding: .5rem;

	> h1 {
	}

	#optionsRow {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> .dropDown {
			width: max-content;

			.dropDownButton {
				background: vars.$background-el1;
			}

			> button {
				height: 2rem;
				line-height: 2rem;
				border: 1px solid vars.$border-color;
				border-radius: 1rem;
			}

			> .areaWrapper, > .areaWrapper > .dropDownArea {
				width: 100%;
			}
		}
	}
}

.barChart {
	width: 100%;
	--percent: .5;

	> .barRow {
		position: relative;
		height: 2rem;
		display: flex;
		align-items: center;

		> .bar {
			width: calc(var(--percent) * 100%);
			height: 70%;
			border-radius: .15rem;
			background: #ff6363;
		}

		> .label {
			position: absolute;
			max-width: 90%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			.percentage {
				font-weight: lighter;
				font-size: .75em;
			}
		}
	}
}

.eventsGraph {
	text {
		fill: vars.$text-color;
		font-size: .5rem;
		height: .5rem;
		line-height: .5rem;
		transform: translateY(.25rem);
	}
}
