@use "../../../../style/vars";

@keyframes vote {
	0% {
		opacity: 1;
	}

	66% {
		opacity: 1;
	}

	90% {
		opacity: .7;
	}

	100% {
		opacity: 0;
	}
}

.voteButton {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;

	&:hover {
		&.up {
			> svg {
				fill: vars.$upvote-hover;
			}
		}

		&.down {
			> svg {
				fill: vars.$downvote-hover;
			}
		}
	}

	> svg {
		width: 100%;
		transition: fill .1s ease;
	}

	> .shadowBtn {
		position: absolute;
		transform-origin: center;
		opacity: .75;
	}

	&.voted {
		> .shadowBtn {
			position: absolute;
			animation: vote 0.5s linear forwards;
		}

		&.up {
			> svg {
				fill: vars.$upvote-filled;
			}
		}

		&.down {
			> svg {
				fill: vars.$downvote-filled;
			}
		}
	}

	&.down {
		> svg {
			transform: rotate(180deg);
		}
	}
}
