@use "../../../../style/vars";

.markdownForm {
	display: block;
	position: relative;

	> * {
		display: block;
	}

	.rawTextEditor {
		--textarea-height: 5rem;
		width: 100%;
		min-height: 5rem;
		height: var(--textarea-height);
		background: vars.$background-el2;
		padding: .5rem;
		border-radius: 1rem;
		border: 1px solid vars.$border-color;
		transition: all .125s ease, height .05s linear;
		resize: none;
		font-family: 'Roboto Mono', monospace;
		font-weight: 400;

		&.shadow {
			visibility: hidden;
			position: absolute;
		}
	}

	> .buttonsWrapper {
		display: flex;
		justify-content: flex-end;
		gap: .5rem;
		margin: .5rem 0;

		> button {
			width: max-content;
			padding: .5rem;
			border-radius: 1.5rem;
			transition: filter .25s ease;

			&:disabled {
				filter: grayscale(.75);
			}

			&:hover {
				filter: brightness(1.25);
			}

			&:active {
				filter: brightness(1.5);
			}

			&.submitBtn {
				background: vars.$primary-contrast;
			}

			&.cancelBtn {
				background: vars.$cancel-btn-bg;
			}
		}
	}
}
