@use "../../../../style/vars";

.markdownForm {
	display: block;

	> * {
		display: block;
	}

	.rawTextEditor {
		width: 70%;
		max-width: calc(100% - 4rem);
		min-width: 30%;
		min-height: 5rem;
		max-height: 95vh;
		background: #2d2d2d;
		padding: .5rem;
		border-radius: 1rem;
		border: 1px solid #404040;
		transition: background .25s ease, border .25s ease;

		&:focus, &:hover {
			background: #323232;
			border: 1px solid #474747;

		}
	}

	> .buttonsWrapper {
		display: flex;
		justify-content: flex-end;
		gap: .5rem;
		margin: .5rem 0;

		> button {
			width: max-content;
			padding: .5rem;
			border-radius: 1rem;
			transition: filter .25s ease;

			&:disabled {
				filter: grayscale(.75);
			}

			&:hover {
				filter: brightness(1.25);
			}

			&:active {
				filter: brightness(1.5);
			}

			&.submitBtn {
				background: vars.$primaryContrast;
			}

			&.cancelBtn {
				background: #5b5b5b;
			}
		}
	}
}
