@use '../../../style/vars';


.postAndComments, .universalFeed {
	width: vars.$widthP;
	animation: fadeIn .5s ease;
}

@media (orientation: landscape) {
	.postAndComments, .universalFeed {
		margin: 0 auto;
	}
}
