@use '../../../style/vars';

.feedHeader {
	display: flex;

	> :first-child {
		margin-left: auto;
	}

	.dropDownButton {
		display: flex;
		align-items: center;

		> img {
			height: 2em;
			margin-left: .5rem;
		}
	}

	.dropDownArea {
		right: 0;
	}
}


.postAndComments, .universalFeed {
	margin: 0 .5rem 0 auto;
	width: calc(100% - 2.8rem);
	animation: fadeIn .5s ease;
}

.universalFeed, .commentsFeed {
	> * {
		margin: 1.5rem 0;
	}
}

@media (orientation: landscape) {
	.postAndComments, .universalFeed {
		margin: 0 auto;
	}
}
