@use '../../../style/vars';

.feedSorter {
	.dropDownButton {
		display: flex;
		align-items: center;

		> img {
			height: 2em;
			margin-left: .5rem;
		}
	}
}


.postAndComments, .universalFeed {
	width: vars.$widthP;
	animation: fadeIn .5s ease;
}

@media (orientation: landscape) {
	.postAndComments, .universalFeed {
		margin: 0 auto;
	}
}
