@use "../../../style/vars";

.mediaViewer {
	position: relative;
	overflow: hidden;
	user-select: none;

	width: 100%;
	--max-media-height: #{vars.$image-height-limited};
	max-height: var(--max-media-height);

	> .controls {
		.dropDown {
			.dropDownButton {
				background: none;
				border: none;
				padding: 0;

				> img {
					height: 100%;
				}
			}
		}

		.caption {
			max-width: 60%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.resetView {
			display: none;
		}

		.dropDown .dropDownArea {
			overflow: visible;
		}

		.filterWrapper {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			button, img {
				height: 2rem;
			}

			> span {
				margin-right: .25rem;
				font-size: .75rem;
			}

			> input {
				width: 3rem;
				border-bottom: 1px solid vars.$border-color;
				font-size: .75rem;
				text-align: right;
				transition: border-color .15s ease;

				&:focus {
					border-color: vars.$primary;
				}
			}
		}

		.rotateFilter {
			img {
				transition: transform .2s ease;
			}

			.cw img {
				transform: rotate(120deg) scaleX(-1);

				&:hover {
					transform: rotate(140deg) scaleX(-1);
				}
			}

			.ccw img {
				transform: rotate(240deg);

				&:hover {
					transform: rotate(220deg);
				}
			}
		}
	}

	.imageViewer img, .videoPlayer video {
		max-height: var(--max-media-height);
	}

	&.isInFullscreen {
		--max-media-height: 100vh;

		> .controls {
			.resetView {
				display: initial;
			}
		}
	}
}

.inlineMediaViewer {
	> button {
		width: 1rem;
		height: 1rem;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-80%) rotate(90deg);
			height: 1.25rem;
		}
	}

	+ .mediaViewer {
		display: none;
		width: auto;
		height: max-content;
		min-width: 0;
		font-size: 1rem;
		transition: min-width .25s ease .75s;

		&:hover {
			min-width: 25rem;
		}
	}

	&.isExpanded {
		vertical-align: top;

		> button img {
			transform: translateX(-50%) translateY(-80%) rotate(-90deg);
		}

		+ .mediaViewer {
			display: inline-block;

		}
	}
}
