@use "../../../style/vars";

.mediaViewer {
	position: relative;
	overflow: hidden;
	user-select: none;

	width: 100%;
	max-height: vars.$image-height-limited;

	> .controls {
		> .dropDown {
			.dropDownButton {
				background: none;
				border: none;
				padding: 0;

				> img {
					height: 100%;
				}
			}
		}
	}
}
