@use "../../../../style/vars";

.photonSettings {
	--width: min(90vw, 60rem);
	--height: 80vh;

	.modalContent {
		overflow: initial !important;
		display: flex;
		flex-direction: column;
		
		.save.button {
			background: vars.$background;
		}

		> .mainWrapper {
			display: flex;
			flex-grow: 1;
			will-change: transform;
			height: calc(100% - 3rem);

			> .previewArea {
				padding-right: 1rem;
				margin-right: 1rem;
				position: relative;
				flex-grow: 1;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 100%;
					background: vars.$divider-color;
				}
			}

			> .optionsArea {
				width: min(80vw, 20rem);
				overflow: auto;

				> .inputGroup, > .inputWrapper {
					margin: .75rem .25rem .75rem 0;
				}

				.inputGroup {
					cursor: default;

					> div:not(:first-child) {
						margin-left: 1rem;
					}
				}

				.inputWrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;

					> input + label {
						margin-right: .5rem;
					}

					> input[type=text], input[type=number] {
						width: 6rem;
						text-align: right;
						border-bottom: 1px solid vars.$text-color;
						transition: border-bottom-color .25s ease;

						&:focus {
							border-bottom: 1px solid vars.$primary;
						}
					}
				}
			}

			hr {
				background: vars.$divider-color;
			}
		}

		> .bottomBar {
			display: flex;
			justify-content: flex-end;
			padding-top: .5rem;
		}
	}
}
