@use "../../../../style/vars";

.photonSettings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00000080;
	opacity: 1;
	transform: scale(1);
	transform-origin: center 25%;
	transition: opacity .25s ease, transform .25s ease, visibility .25s ease;

	&.remove {
		transform: scale(.9);
		opacity: 0;
		visibility: hidden;
	}

	> .windowWrapper {
		position: relative;
		width: 60rem;
		height: calc(100% - 10rem);
		margin-top: 5rem;
		background: vars.$background-el1;
		border: 1px solid vars.$border-color;
		border-radius: vars.$b-r;
		padding: 1.75rem;
		display: flex;
		flex-direction: column;

		> .closeButton {
			position: absolute;
			top: .5rem;
			right: .5rem;
			width: 2.5rem;
			height: 2.5rem;

			> img {
				height: 2.5rem;
			}
		}

		.save.button {
			background: vars.$background;
		}

		> .mainWrapper {
			display: flex;
			flex-grow: 1;
			overflow: auto;

			> .previewArea {
				padding-right: 1rem;
				margin-right: 1rem;
				width: 60%;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 100%;
					background: #616161;
				}
			}

			> .optionsArea {
				width: 40%;

				.inputGroup {
					> div:not(:first-child) {
						margin-left: 1rem;
					}
				}

				.inputWrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;

					> input + label {
						margin-right: .5rem;
					}

					> input.text {
						width: 6rem;
						text-align: right;
						border-bottom: 1px solid #616161;
						transition: border-bottom-color .25s ease;

						&:focus {
							border-bottom: 1px solid #838383;
						}
					}
				}
			}

			hr {
				background: #616161;
			}
		}

		> .bottomBar {
			display: flex;
			justify-content: flex-end;
			padding-top: .5rem;
		}
	}
}
