@use 'vars';

body {
	background-color: vars.$background;
}

#mainWrapper {
	position: relative;
	margin: auto;
}

header {
	top: 0;
	width: 100%;
	height: calc(5rem * #{vars.$scale});
	margin-bottom: calc(1rem * #{vars.$scale});
	position: relative;

	.actions {
		height: 100%;
		// position: fixed;

		& > * {
			margin: 0 calc(1.5rem * #{vars.$scale});
		}
	}

}

main {
	width: 50%;

	#feed {
		width: 100%;

		& > * {
			margin: calc(1rem * #{vars.$scale}) 0;
		}
	}
}

.dropdown {
	display: none;;
}

.post {
	background: vars.$background-el1;
	padding: 1.5rem 1rem;
	position: relative;


	.postImage {
		width: 100%;
		height: auto;
	}

	.actions {
		margin-right: 1rem;
	}

	.header {
		margin-bottom: 1rem;

		.top {
			margin-bottom: .5rem;
	
			& > * {
				margin-right: 0.25rem;
			}
		}
	}
}