@use 'vars';
@use 'shadow';

body {
	background-color: vars.$background;
}

#mainWrapper {
	position: relative;
	margin: auto;
}

header {
	top: 0;
	width: 100%;
	height: vars.$headerHeight;
	position: sticky;
    z-index: 1;
	transform: translateY(-100%);
    transition: transform .25s linear;
	
	.actions {
		height: 100%;
		box-sizing: content-box;
		position: relative;
		z-index: 55;
		transition: height .25s linear;
		
		& > * {
			margin: 0 1.5rem;
		}
	}
	
	.expander {
		z-index: 50;
		top: 0;
		pointer-events: none;

		svg {
			width: 100%;
			height: calc(#{vars.$headerHeight} * 2);
			filter: drop-shadow(0 0 1rem var(--shadow-color));

			.filled {
				fill: var(--bg-color);
				stroke: none;
			}
			
			.stroked {
				transition: stroke .5s ease;
				fill: none;
				stroke: #eeeeee;
			}
		}
	}
	
	.accessibilitySpacer {
		width: 25%;
		height: 50%;
	}
	
	&.hover{
		transform: translateY(0);

		.actions {
			height: 130%;
		}
		
		.accessibilitySpacer {
			height: 150%;
			width: 100%;
			top: vars.$headerHeight;
		}
	}

	&.contentIsLoading {
		.stroked {
			stroke: lightskyblue !important;
		}
	}
}

.viewState {
	position: fixed;
	width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	padding: vars.$headerHeight 0;
	display: flex;
	justify-content: center;

	.backClickArea {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.universalFeed, .commentsFeed {
	 > * {
		margin: 1.5rem 0;
	}
}

.dropdown {
	display: none;
}

.feedHeader {
	display: flex;

	> :first-child {
		margin-left: auto;
	}

	.dropDownArea {
		right: 0;
	}
}

.dropDown {
	position: relative;
	display: flex;
	flex-direction: column;

	.show {
		.dropDownEntry {
			opacity: 1;
			transform: scale(1) translateY(0);
			visibility: visible;
		}
	}
	
	.remove {
		visibility: hidden;

		.dropDownEntry {
			opacity: 0;
			transform: scale(.75) translateY(-50%);
			visibility: hidden;
		}
	}

	.dropDownButton {
		width: fit-content;
		padding: 0 1.2rem;
	}

	.dropDownArea {
		visibility: hidden;
		position: absolute;
		z-index: 1;
		top: 100%;
		margin-top: 0.5rem;
		width: max-content;
	}
	
	.dropDownEntry {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		border: 1px solid vars.$text;
		padding: 0 .65rem;
		cursor: pointer;
		width: 100%;
		height: 2.4rem;
		line-height: 2.4rem;
		background-color: vars.$background-el1;
		@extend %shadow-diffuse;

		opacity: 0;
		transform: scale(.5);
		visibility: hidden;
		transition: all .15s ease, color .25s ease, padding .25s ease, border .25s ease;

		@for $i from 1 through 15 {
			&:nth-child(#{$i}n) {
				transition-delay: #{$i * 0.03 - .03}s;
			}
		}
		
		&:first-child {
			border-top: 1px solid vars.$text;
			border-top-left-radius: 1.2rem;
			border-top-right-radius: 1.2rem;
		}
		
		&:last-child {
			border-bottom-left-radius: 1.2rem;
			border-bottom-right-radius: 1.2rem;
		}

		&:hover {
			padding-left: .75rem;

			* {
				color: lightcoral;
			}
		}

		&:active {
			border: 1px solid lightcoral;
		}
	}
}

.progressBar {
	--progress: 0;
	position: relative;
	transition: all .25s ease;

	> .progress {
		height: 100%;
		width: calc(100% * var(--progress));
		background: lightcoral;
	}

	.accessibilitySpacer {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transform: scaleY(2.5);
	}
}

.videoPlayer {
	overflow: hidden;
	width: 100%;
	position: relative;
	cursor: none;

	video {
		width: 100%;
		display: block;
		object-fit: contain;
		max-height: 95vh;
	}

	.controls {
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 3rem;
		background-color: #121212ad;
		user-select: none;
		transform: translateY(101%);
		transition: all .25s ease;

		.imgBtn {
			height: 2.5rem;
			width: 2.5rem;

			> img {
				height: 100%;
				width: 100%;
				padding: 10%;
				transition: all .25s ease;
				filter: drop-shadow(0px 0px 0px lightcoral) drop-shadow(0px 0px 0px lightcoral);
			}

			&:hover > img {
				filter: drop-shadow(0px 0px 3px lightcoral) drop-shadow(0px 0px 0px lightcoral);
			}

			&:active > img {
				filter: drop-shadow(0px 0px 3px lightcoral) drop-shadow(0px 0px 6px lightcoral);
			}
		}

		.volumeWrapper {
			height: 2.5rem;
			display: flex;

			> .progressBar {
				&:hover {
					background: #f07f7f80;
				}

				width: 5rem;
				height: .4rem;
				margin: auto 0;
				background: black;
			}
		}

		 > .progressBar {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: .25rem;

			&:hover {
				background: #f07f7f80;
				transform: scaleY(3);

				.accessibilitySpacer {
					transform: scaleY(2);
				}
			}

			> .progress {
				transition: width .1s linear;
				border-right: .25rem solid white;
			}
		}
	}

	&.fullscreen {
		video {
			max-height: 100%;
			height: 100%;
		}
	}
	
	&.controlsVisible {
		cursor: default;

		.controls {
			transform: translateY(0%);
			
		}
	}
}

.button {
	border: 1px solid vars.$text;
	padding: .5rem;
	min-width: 2.4rem;
	min-height: 2.4rem;
	border-radius: 1.2rem;
	background-color: vars.$background-el1;

	transition: all .25s ease;

	&:hover {
		color: lightcoral;
	}

	&:active {
		border-color: lightcoral;
	}
}

.postAndComments {
	display: flex;
	flex-direction: column;
	padding-right: 3.5rem;
	height: fit-content;
	background: vars.$background-el1;
	border-radius: vars.$b-r;
	@extend %shadow-diffuse;
}

.postAndComments, .universalFeed {
	margin: 0 .5rem 0 auto;
	width: calc(100% - 2.8rem);
}

@media (orientation: landscape) {
	.postAndComments, .universalFeed {
		margin: 0 auto;
	}

	.universalFeed {
		width: 50%;
	}

	.postAndComments, {
		width: 60%;
	}
}

.user {
	&.mod * {
		color: lightgreen;
	}

	&.op {
		margin-right: .75rem;

		::before {
			content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: #e65d5d;
			padding: .125rem 0.6rem;
			margin-top: -.125rem;
			margin-left: -.6rem;
			border-radius: 1rem;
		}

		&.mod {
			::before {
				background: green;
			}
		}

		* {
			color: vars.$text;
		}
	}
}

.feedItem {
	display: flex;
	position: relative;

	&.isInFeed {
		background: vars.$background-el1;
		border-radius: vars.$b-r;
		@extend %shadow-diffuse;

		.backgroundLink {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
		}

		a:not(.backgroundLink), .content > * {
			position: relative;
		}
	}

	ol, ul {
		list-style-position: inside;
	}

	.actions {
		margin-right: 1rem;
		width: vars.$postActionsWidth;
		max-width: vars.$postActionsWidth;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		word-break: break-word;
		overflow-wrap: anywhere;
		max-width: 100%;
	}
}

.post {
	&.isInFeed {
		.actions {
			position: absolute;
			transform: translateX(calc(-100% - 1.5rem));
			margin-top: vars.$post-padding;
		}

		@media (orientation: portrait) {
			.actions {
				transform: translateX(-100%);
			}
		}

		.header {
			margin: vars.$post-padding;
		}

		.content {
			&.padded {
				margin: vars.$post-padding;
			}

			.postImage {
				border-bottom-left-radius: vars.$b-r;
				border-bottom-right-radius: vars.$b-r;
				max-height: 95vh;
				object-fit: contain;
			}

			.videoPlayer {
				video {
					border-bottom-left-radius: 1rem;
					border-bottom-right-radius: 1rem;
				}

				.fullscreen {
					video {
						border-radius: 0;
					}
				}
			}
		}
	}

	.actions {
		z-index: 1;
		min-height: 100%;

		> .wrapper {
			position: sticky;
			top: -4rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			.dropDownArea {
				left: calc(100% + .5rem);
				top: 0;
				margin-top: 0;
			}
		}
	}

	.header {
		margin: vars.$post-padding 0;
		.top {
			margin-bottom: vars.$post-padding / 4;
			flex-wrap: wrap;

			& > * {
				margin-right: 0.25rem;
			}
		}

		.title {
			font-size: 1.75rem;
		}
	}

	&:not(.isInFeed) {
		&.feedItem {
			flex-direction: row-reverse;
		}

		.actions {
			margin: 1.5rem 1rem;
		}

		.backgroundLink {
			display: none;
		}
	}

	.content {
		display: flex;

		.postImage {
			width: 100%;
			height: auto;
			display: block;
		}

		.imageMax {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: vars.$background;
			user-select: none;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
				transform: scale(var(--img-zoom)) translateX(var(--img-move-x)) translateY(var(--img-move-y));
			}
		}
	}

	.comments {
		img {
			width: vars.$postActionsWidth * .69;
		}
	}
}

.commentsFeed {
	overflow-x: auto;		// TODO fix to uch nested comments causing an overflow
}

.comment {
	padding: 1rem 0 1rem 1rem;

	&.isCollapsed {
		&.rootComment {
			padding-bottom: 0;
		}

		.actions > :not(.commentCollapser) {
			display: none;
		}

		.replies, .content {
			display: none;
		}
	}

	.header {
		flex-wrap: wrap;
		margin-bottom: .6rem;

		 > * {
			margin: 0 .25rem;
		}
	}

	.commentCollapser {
		width: 2rem;
		height: calc(100% - 1rem);
		min-height: 2rem;
		cursor: pointer;
		margin: auto;
		display: flex;
		justify-content: center;
		
		> div {
			width: .2rem;
			background-color: rgba(4, 4, 4, 0.6);
			height: 100%;
			transition: all .25s ease;
		}
		
		&:hover > div {
			width: .3rem;
			background-color: rgba(0, 0, 0, 0.8);

		}
	}

	.content {
		margin-right: 2rem;
	}
}

a {
	transition: filter .25s ease;
	filter: brightness(1);

	&:hover {
		filter: brightness(1.25);
	}

	&.subreddit *, &.user * {
		color: lightcoral;
	}
}

.closeButton {
	position: fixed;
	background-color: lightcoral;
	z-index: 999;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	height: 2rem;
	transform: scale(1.0);
	transition: background-color .25s ease;

	&::before {
		content: "";
		position: absolute;
		background: var(--text-color);
		border-radius: .1rem;
		width: 100%;
		height: 10%;
		top: 50%;
		left: 0;
		transform: translateY(-50%) rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		background: var(--text-color);
		border-radius: .1rem;
		width: 100%;
		height: 10%;
		top: 50%;
		left: 0;
		transform: translateY(-50%) rotate(-45deg);
		transition: transform .25s ease;
	}

	&:hover {
		background-color: #ee4e4e;
	}
}
