@use 'vars';
@use 'shadow';

body {
	background-color: vars.$background;
}

#mainWrapper {
	position: relative;
	margin: auto;
}

header {
	top: 0;
	width: 100%;
	height: vars.$headerHeight;
	margin-bottom: calc(1rem * #{vars.$scale});
	position: sticky;
    top: 0;
    z-index: 1;
	transform: translateY(-100%);
    transition: transform .25s linear;
	
	.actions {
		height: 100%;
		margin-top: calc(#{vars.$headerHeight} * .2);
		box-sizing: content-box;
		position: relative;
		z-index: 55;
		
		& > * {
			margin: 0 calc(1.5rem * #{vars.$scale});
		}
	}
	
	.expander {
		z-index: 50;
		top: 0;
		pointer-events: none;

		svg {
			width: 100%;
			height: calc(#{vars.$headerHeight} * 2);
			filter: drop-shadow(0 0 1rem var(--shadow-color));

			.filled {
				fill: var(--bg-color);
				stroke: none;
			}
			
			.stroked {
				transition: stroke .5s ease;
				fill: none;
				stroke: #eeeeee;
			}
		}
	}
	
	.accessibilitySpacer {
		width: 25%;
	}
	
	&.hover{
		transform: translateY(0);
		
		.accessibilitySpacer {
			height: 150%;
			width: 100%;
			top: vars.$headerHeight;
		}
	}

	&.contentIsLoading {
		.stroked {
			stroke: lightskyblue !important;
		}
	}
}

.viewState {
	position: fixed;
	width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	padding: vars.$headerHeight 0;
	display: flex;
	justify-content: center;

	.backClickArea {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.postsFeed, .commentsFeed {
	 > * {
		margin: calc(1.5rem * #{vars.$scale}) 0;
	}
}

.dropdown {
	display: none;
}

.postAndComments {
	display: flex;
	flex-direction: column;
	padding-right: 3.5rem;
	height: fit-content;
	background: vars.$background-el1;
	border-radius: vars.$b-r;
	@extend %shadow-diffuse;
}

.postAndComments, .postsFeed {
	width: calc(100% - 2rem);
}

@media (orientation: landscape) {
	.postAndComments, .postsFeed {
		margin: 0 auto;
		width: calc(50% - 2rem);
	}
}

.post, .comment {
	display: flex;

	ol, ul {
		list-style-position: inside;
	}

	.actions {
		margin-right: 1rem;
		width: vars.$postActionsWidth;
		max-width: vars.$postActionsWidth;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		word-break: break-all;
		word-break: break-word;
		overflow-wrap: anywhere;
		max-width: 100%;
	}
}

.post {
	position: relative;

	&.isInFeed {
		background: vars.$background-el1;
		border-radius: vars.$b-r;
		@extend %shadow-diffuse;

		.backgroundLink {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
		}

		a:not(.backgroundLink), .content > * {
			position: relative;
		}

		.actions {
			position: absolute;
			transform: translateX(calc(-100% - 1.5rem));
			margin-top: vars.$post-padding;
		}

		@media (orientation: portrait) {
			.actions {
				transform: translateX(calc(100%));
			}
		}
		
		.header {
			margin: vars.$post-padding;
		}

		@media (orientation: portrait) {
			.header {
				margin-left: 6.5rem
			}
		}

		.content {
			.postImage {
				border-bottom-left-radius: vars.$b-r;
				border-bottom-right-radius: vars.$b-r;
			}
		}
	}

	.header {
		margin: vars.$post-padding 0;
		.top {
			margin-bottom: vars.$post-padding / 4;
			flex-wrap: wrap;

			& > * {
				margin-right: 0.25rem;
			}
		}

		.title {
			font-size: 1.75rem;
		}
	}

	&:not(.isInFeed) {
		.actions {
			margin: 1.5rem 1rem;
		}

		.backgroundLink {
			display: none;
		}
	}

	.content {
		display: flex;

			&.padded {
				margin: vars.$post-padding;
			}

		.postImage {
			width: 100%;
			height: auto;
			display: block;
		}

		.imageMax {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: vars.$background;
			user-select: none;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
				transform: scale(var(--img-zoom)) translateX(var(--img-move-x)) translateY(var(--img-move-y));
			}
		}
	}

	.comments {
		img {
			width: vars.$postActionsWidth * .69;
		}
	}
}

.commentsFeed {
	overflow-x: auto;		// TODO fix to uch nested comments causing an overflow
}

.comment {
	padding: 1rem 0 1rem 1rem;

	&.isCollapsed {
		.actions > :not(.commentCollapser) {
			display: none;
		}

		.replies, .content {
			display: none;
		}
	}

	.header {
		flex-wrap: wrap;
		margin-bottom: .6rem;

		 > * {
			margin: 0 .25rem;
		}
	}

	.commentCollapser {
		width: 2rem;
		height: calc(100% - 1rem);
		min-height: 2rem;
		cursor: pointer;
		margin: auto;
		display: flex;
		justify-content: center;
		
		> div {
			width: .2rem;
			background-color: rgba(4, 4, 4, 0.6);
			height: 100%;
			transition: all .25s ease;
		}
		
		&:hover > div {
			width: .3rem;
			background-color: rgba(0, 0, 0, 0.8);

		}
	}

}

a {
	transition: filter .25s ease;
	filter: brightness(1);

	&:hover {
		filter: brightness(1.25);
	}

	&.subreddit *, &.user * {
		color: lightcoral;
	}
}

.closeButton {
	position: fixed;
	background-color: lightcoral;
	z-index: 999;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	height: 2rem;
}