// some basic css that applies mostly to html(5) tags
@use 'vars';

:root {
	font-size: 1.2rem;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: vars.$text;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

div, span, a, button, input, textarea {
	font-size: 1rem;
	font-weight: 600;
}

code {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	display: inline-block;
	background: #ffffff1a;
	padding: .1rem .2rem;
	border-radius: .25rem;
	margin: 0 .25rem;
	white-space: pre-wrap;
}

pre {
	white-space: normal;

	> code {
		padding: .5rem .75rem;
		border-radius: .5rem;
		margin: .5rem 0;
		white-space: pre-wrap;
	}
}

ol, ul {
	list-style-position: outside;

	li {
		margin-left: 1.5rem;

		> ul, > ol {
			margin-left: 1rem;
		}
	}

	p {
		display: inline;
	}
}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
}

table {
	border-collapse: collapse;
	margin: .75rem 0;
	table-layout: fixed;
	width: 100%;
}

td, th {
	padding: .3rem;
}

thead {
	> tr {
		background: #4e4e4e;
	}

	th {
		border: 1px solid #2d2d2d;
		border-top-width: 0;
		border-bottom-width: 0;
		padding: .6rem .4rem;

		&:first-child {
			border-left-width: 0;
			border-top-left-radius: .5rem;
		}

		&:last-child {
			border-right-width: 0;
			border-top-right-radius: .5rem;
		}
	}
}

tbody {
	> tr {
		transition: background-color .1s ease;

		&:nth-child(even) {
			background: #313131;
		}

		&:last-child {
			td:first-child {
				border-bottom-left-radius: .5rem;
			}

			td:last-child {
				border-bottom-right-radius: .5rem;
			}
		}

		&:hover {
			background: #3e3e3e;
		}
	}
}

strong {
	font-weight: 800;
}

a {
	text-decoration: none;
	font-size: inherit;

	&, * {
		color: vars.$link-color;
	}
}

:focus {
	outline: none;
}

hr {
	height: 1px;
	background-color: vars.$text;
	margin: 1rem auto;
}

button {
	cursor: pointer;
}

blockquote {
	border-left: 0.3rem solid cornflowerblue;
	padding-left: .5rem;
	margin: .5rem 0 .5rem 0.5rem;
}

.md-spoiler-text {
	background: vars.$text;
	transition: background-color .5s ease;
	transition-delay: 9999999s;

	a {
		color: vars.$text;
		transition-delay: 9999999s;
		transition: color .5s ease;
	}

	&:hover {
		background: inherit;
		transition-delay: 0s;

		a {
			color: vars.$link-color;
			transition-delay: 0s;
		}
	}
}

* {
	scrollbar-color: #e4e4e4a6 transparent;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #e4e4e4a6;

		&:hover {
			background: #e4e4e4;
		}
	}
}