@use 'vars';

:root {
	font-size: 1.2rem;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	color: vars.$text;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
}

strong {
	font-weight: 800;
	font-size: inherit;
}

a {
	text-decoration: none;

	&, * {
		color: #7da3f9;
	}
}

:focus {
	outline: none;
}

hr {
	height: 1px;
	background-color: vars.$text;
	margin: 1rem auto;
}

button {
	cursor: pointer;
}
