@use '../../../style/vars';

.comment {
	padding: .5rem 0;

	&.highlight {
		border: 1px solid #f080807d;
		border-radius: 1rem;
	}

	&.rootComment {
		padding: 1rem 0 1rem 1rem;

		> div > .replies {
			position: relative;
			z-index: 1;
		}
	}

	&.isCollapsed {
		&.rootComment {
			padding-bottom: 0;
		}

		.actions > :not(.commentCollapser) {
			display: none;
		}

		.replies, .content {
			display: none;
		}
	}

	&.isEditing {
		> div >.content {
			display: none;
		}

		.editForm {
			display: inherit;
		}
	}

	&.isReplying {
		.replyForm {
			display: inherit;
		}
	}

	.markdownForm {
		display: none;
		margin-left: .2rem;
	}

	.header {
		flex-wrap: wrap;
		margin-bottom: .25rem;
		align-items: center;

		> * {
			margin: 0 .125rem;
		}

		> span {
			font-size: .8em;
			margin: 0 0.1rem;
		}
	}

	.actions {
		width: 2rem;

		.upvotes {
			&.medium {
				font-size: .9em;
			}

			&.small {
				font-size: .7em;
			}
		}

		.voteButton {
			width: 2.3rem;
			height: 2.3rem;
		}

		.dropDownButton {
			background-image: url("/img/kebab.svg");
			background-size: contain;
			border: none;
			padding: 0;
			margin-bottom: .25rem;
			width: 2.3rem;
			height: 2.3rem;
		}

		.dropDownArea {
			margin: 0 0 0 .5rem;
		}
	}

	.commentCollapser {
		width: 100%;
		height: calc(100% - 1rem);
		min-height: 2rem;
		cursor: pointer;
		margin: auto;
		display: flex;
		justify-content: center;

		> div {
			width: .2rem;
			background-color: rgba(4, 4, 4, 0.6);
			height: 100%;
			transition: all .25s ease;
		}

		&:hover > div {
			width: .3rem;
			background-color: rgba(0, 0, 0, 0.8);

		}
	}

	.content {
		margin-right: 2rem;
		margin-left: .2rem;

		> .md {
			> p:first-child {
				margin-block-start: 0.5em;
			}
			> p:last-child {
				margin-block-end: 0.5em;
			}
		}
	}

	.replies {
		transform: translateX(-0.2rem);
	}

	.loadMoreButton {
		padding: .3rem .75rem;
		display: flex;
		align-items: center;

		img {
			height: calc(1em + 0.3rem);
			transform: scale(1.7);
			margin: 0 1.5rem;
		}
	}
}
