@use '../../../style/vars';

.comment {
	padding: 1rem 0 1rem 1rem;

	&.isCollapsed {
		&.rootComment {
			padding-bottom: 0;
		}

		.actions > :not(.commentCollapser) {
			display: none;
		}

		.replies, .content {
			display: none;
		}
	}

	&.isEditing {
		> div >.content {
			display: none;
		}
	}

	.header {
		flex-wrap: wrap;
		margin-bottom: .6rem;

		> * {
			margin: 0 .25rem;
		}
	}

	.actions {
		.dropDownArea {
			margin: 0 0 0 .5rem;
		}
	}

	.commentCollapser {
		width: 2rem;
		height: calc(100% - 1rem);
		min-height: 2rem;
		cursor: pointer;
		margin: auto;
		display: flex;
		justify-content: center;

		> div {
			width: .2rem;
			background-color: rgba(4, 4, 4, 0.6);
			height: 100%;
			transition: all .25s ease;
		}

		&:hover > div {
			width: .3rem;
			background-color: rgba(0, 0, 0, 0.8);

		}
	}

	.content {
		margin-right: 2rem;
	}

	.loadMoreButton {
		border: 1px solid #e4e4e4;
		border-radius: 1rem;
		padding: .3rem .75rem;
		transition: all .125s ease;

		&:hover {
			border-color: lightcoral;
			color: lightcoral;
		}

		&:active {
			background: #3e3e3e;
		}
	}
}
