@use "../../../../style/vars";

.changelog {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: vars.$modal-transparent-bg;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .25s ease;

	> .content {
		position: relative;
		width: min(95vh, 30rem);
		height: min(80vh, 40rem);
		background: vars.$background-el1;
		border: 1px solid vars.$border-color;
		border-radius: vars.$border-radius;
		padding: vars.$post-padding;
		overflow-y: auto;
		transition: all .25s ease;

		> .closeButton {
			position: absolute;
			top: .5rem;
			right: .5rem;
			width: 2.5rem;
			height: 2.5rem;

			> img {
				height: 2.5rem;
			}
		}
	}

	&.remove {
		opacity: 0;
		visibility: hidden;

		> .content {
			transform: scale(.85);
		}
	}
}