@use '../../../style/vars';

.post {
	&.isInFeed {
		.actions {
			position: absolute;
			transform: translateX(calc(-100% - 1.5rem));
			margin-top: vars.$post-padding;
		}

		@media (orientation: portrait) {
			.actions {
				transform: translateX(-100%);
			}
		}

		.header {
			margin: vars.$post-padding;
		}

		.content {
			&.padded {
				margin: vars.$post-padding;
			}

			&.fullScale {
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
				overflow: hidden;
			}

			.postImage {
				max-height: 95vh;
				object-fit: contain;
			}

			.videoPlayer {
				.fullscreen {
					video {
						border-radius: 0;
					}
				}
			}
		}
	}

	.actions {
		z-index: 1;
		min-height: 100%;

		> .wrapper {
			position: sticky;
			top: -4rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			.dropDownArea {
				left: calc(100% + .5rem);
				top: 0;
				margin-top: 0;
			}
		}
	}

	.header {
		margin: vars.$post-padding 0;
		.top {
			margin-bottom: vars.$post-padding / 4;
			flex-wrap: wrap;

			& > * {
				margin-right: 0.25rem;
			}
		}

		.title {
			font-size: 1.75rem;
		}
	}

	&:not(.isInFeed) {
		&.feedItem {
			flex-direction: row-reverse;
		}

		.actions {
			margin: 1.5rem 1rem;
		}

		.backgroundLink {
			display: none;
		}
	}

	.content {
		display: flex;

		.postImage {
			width: 100%;
			height: auto;
			display: block;
		}

		.imageMax {
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: vars.$background;
			user-select: none;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
				transform: scale(var(--img-zoom)) translateX(var(--img-move-x)) translateY(var(--img-move-y));
			}
		}
	}

	.comments {
		img {
			width: vars.$postActionsWidth * .69;
		}
	}

	.closeButton {
		position: fixed;
		background-color: lightcoral;
		z-index: 999;
		top: 2rem;
		right: 2rem;
		width: 2rem;
		height: 2rem;
		transform: scale(1.0);
		transition: background-color .25s ease;

		&::before {
			content: "";
			position: absolute;
			background: var(--text-color);
			border-radius: .1rem;
			width: 100%;
			height: 10%;
			top: 50%;
			left: 0;
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			content: "";
			position: absolute;
			background: var(--text-color);
			border-radius: .1rem;
			width: 100%;
			height: 10%;
			top: 50%;
			left: 0;
			transform: translateY(-50%) rotate(-45deg);
			transition: transform .25s ease;
		}

		&:hover {
			background-color: #ee4e4e;
		}
	}
}
