@use '../../../style/vars';

.post {
	&.isInFeed {
		.actions {
			position: absolute;
			transform: translateX(calc(-100% - .5rem));
		}

		@media (orientation: portrait) {
			.actions {
				transform: translateX(-100%);
			}
		}

		.header {
			img.pinned {
				transform: translateX(calc(-100% - 0.5rem)) translateY(0.1rem) rotate(45deg);
				position: absolute;
			}

			margin: vars.$post-padding;
		}

		.content {
			position: relative;
			
			&.padded {
				margin: vars.$post-padding;
			}

			&.fullScale {
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
				overflow: hidden;
			}

			> *:not(.cover) {
				filter: blur(0);
				transition: filter .125s ease;
			}
			
			&.covered > *:not(.cover) {
				filter: blur(100px);
			}

			.cover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				cursor: pointer;

				> div {
					margin: auto;
					padding: 0.25rem 0.75rem;
					background: var(--bg-color);
					border: 1px solid var(--text-color);
					height: 2rem;
					border-radius: 1rem;
				}
			}

			.postImage {
				max-height: vars.$image-height-limited;
				object-fit: contain;
			}

			.videoPlayer {
				.fullscreen {
					video {
						border-radius: 0;
					}
				}
			}
		}
	}

	&.inCrosspostList {
		.backgroundLink {
			display: initial !important;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			transition: none;
			filter: initial;
		}
	}

	.linkPreviewWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: .5rem;
		width: 100%;
		max-height: 7rem;

		> a {
			max-width: 75%;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 1.6em;
		}

		> img {
			max-width: 25%;
			max-height: 7rem;
			border-radius: 1rem;
			border: 1px solid #5f5f5f;
		}
	}

	.actions {
		z-index: 1;
		min-height: 100%;

		> .wrapper {
			position: sticky;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;

			.dropDownButton {
				background-image: url("/img/kebab.svg");
				background-size: contain;
				background-color: unset;
				border: none;
				padding: 0;
				width: 2.3rem;
				height: 2.3rem;
			}

			.dropDownArea {
				left: calc(100% + .5rem);
				top: 0;
				margin-top: 0;
			}
		}
	}

	.header {
		margin: vars.$post-padding 0;

		> .top {
			margin-bottom: vars.$post-padding / 4;
			flex-wrap: wrap;
			align-items: center;

			> * {
				margin: 0 0.125rem;
			}

			> span {
				font-size: .8em;
				margin: 0 0.1rem;
			}

			> .flairWrapper {
				margin-left: auto;
				display: flex;
				gap: .125rem;
			}
		}

		.title {
			font-size: 1.75rem;
			word-break: break-word;
		}
	}

	&:not(.isInFeed) {
		padding-right: vars.$post-padding;

		.actions {
			margin: 1.5rem 1rem;
			width: vars.$postActionsWidth;
			max-width: vars.$postActionsWidth;
		}

		.backgroundLink {
			display: none;
		}

		.content .cover {
			display: none;
		}
	}

	.content {
		display: flex;

		&:empty {

		}

		.postImage {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.commentsLink {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: .45rem;
		--dim: 2.5rem;

		&:hover {
			filter: none;
		}

		> img {
			width: 1.8rem;
		}

		> div {
			position: absolute;
			color: vars.$background;
			transform: translateY(-.1rem);
			font-weight: 700;

			&.medium {
				font-size: .8em;
				transform: translateY(-.15rem);
			}

			&.small {
				font-size: .6em;
				transform: translateY(-.15rem);
			}
		}
	}

	&:not(.nsfw) {
		.flair.nsfw {
			display: none;
		}
	}

	&:not(.spoiler) {
		.flair.spoiler {
			display: none;
		}
	}
}
