@use "../../../../style/vars";
@use "../../../../style/shadow";

.imageViewer {
	width: 100%;
	height: 100%;
	--height-hint: 0px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;

		&:not(:first-child) {
			position: absolute;
			top: 0;
			left: 0;
		}

	}

	&.loading {
		min-width: 1rem;
		min-height: 1rem;
		height: var(--height-hint);
	}
}

.mediaViewer {
	.controls {
		.refreshButton {
			display: flex;
			align-items: center;

			img {
				width: 1.4rem;
				height: 1.4rem;
			}
		}

		.hdButton, .hdButton > img {
			width: 1.75rem;
		}
	}
}
