@use "../../../../style/vars";
@use "../../../../style/shadow";

.imageViewer {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;

		&:not(:first-child) {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.mediaViewer {
	.controls {
		.refreshButton {
			display: flex;
			align-items: center;

			img {
				width: 1.4rem;
				height: 1.4rem;
			}
		}
	}
}
