@use "../../../../../style/vars";

.draggableWrapper {
	width: 100%;
	height: 100%;
	background-color: vars.$background;
	user-select: none;
	overflow: hidden;
	--img-zoom: 1;
	--img-move-x: 0;
	--img-move-y: 0;

	> .draggable {
		transform: scale(var(--img-zoom)) translateX(var(--img-move-x)) translateY(var(--img-move-y));
		transition: transform 50ms linear;
		display: block;
	}
}
