@use "../../../../style/vars";

.messageCompose {
	width: vars.$widthM;
	@media (orientation: portrait) {
		width: vars.$widthP;
	}
	background: vars.$background-el1;
	border: 1px solid vars.$border-color;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	.inputWrapper {
		background: #292929;
		border: 1px solid vars.$border-color;
		margin: .5rem 0;
		padding: 0 .75rem;
		border-radius: 1rem;
		line-height: 2rem;
		display: flex;

		input {
			flex-grow: 1;
		}
	}

	.inputWrapper {
		height: 2rem;
	}

	.markdownForm {
		margin: .5rem 0;
		height: max-content;

		textarea {
			padding: 0.5rem .75rem;
			min-height: 10rem;
			background: #292929;
			border: 1px solid vars.$border-color;
		}

		.buttonsWrapper {
			display: none;
		}
	}

	button {
		background: vars.$background;
		width: max-content;
		margin-left: auto;
	}
}