@use "../../../../../style/vars";

.postBodyCompactWrapper {
	display: grid;
	grid-template-columns: 2.5rem 1fr auto;
	grid-gap: .5rem;
	align-items: center;
	padding: 1rem;

	> .toggle {
		width: 2.5rem;
		height: 2.5rem;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: -.5rem;
			left: -.5rem;
			width: 3.5rem;
			height: 3.5rem;
		}

		img {
			width: 2.5rem;
			transition: transform .125s ease;
		}
	}

	&.expanded {
		> .toggle {
			img {
				transform: rotate(90deg);
			}
		}
	}

	> a {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 1.5em;
	}

	> img {
		max-width: 6rem;
		max-height: 4rem;
		border-radius: 1rem;
	}
}
