@use "../../../../style/vars";
@use "../../../../style/shadow";

.userDropDown {
	position: relative;

	> * {
		background: vars.$background-el1;
		border-radius: 1.3rem;
	}

	&.expanded {
		> button {
			min-width: 15rem;

			&::before {
				transform: rotate(180deg);
			}
		}

		> div {
			visibility: visible;
			opacity: 1;
			transform: scale(1) translateY(0);
		}
	}

	> button {
		height: 2.6rem;
		padding: 0 3.3rem 0 1rem;
		border: 1px solid vars.$border-heavy-color;
		min-width: 10rem;
		@media (orientation: portrait) {
			min-width: 7rem;
		}
		text-align: left;
		transition: all 0.25s cubic-bezier(0.6, 0, 0.4, 1.0);

		&::before {
			content: "";
			position: absolute;
			top: 0.3rem;
			right: 1rem;
			width: 2rem;
			height: 2rem;
			background-image: url("/img/downArrow.svg");
			background-size: contain;
		}
	}

	> div {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 2.6rem + .5rem;
		width: 100%;
		max-height: 60vh;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 1rem;
		visibility: hidden;
		opacity: 0;
		transform: scale(.9) translateY(-1.5rem);
		transition: all .25s ease;
		@extend %shadow-sharp;
		--shadow-color: rgb(0 0 0 / 40%);
		border: 1px solid vars.$border-color;

		> .actionBar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			[data-tooltip] {
				&::after {
					top: unset;
					bottom: 0;
					transform: translateX(-50%) translateY(85%) scale(.5);
				}

				&:hover::after {
					transform: translateX(-50%) translateY(100%) scale(1);
				}
			}

			.item {
				--dim: 2rem;

				img {
					width: 1.5rem;
					height: 1.5rem;
				}

				.unreadBadge {
					position: absolute;
					top: -.25rem;
					right: -.25rem;
					background: var(--primary-contrast);
					min-width: 1rem;
					padding: 0 .125rem;
					height: 1rem;
					border-radius: .5rem;
					color: var(--text-color);
					font-size: 0.7rem;
					line-height: 1rem;
					text-align: center;
				}
			}
		}

		.separated {
			position: relative;

			&:not(:last-child) {
				margin-bottom: .5rem;
				padding-bottom: .5rem;

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 1rem;
					height: 1px;
					width: calc(100% - 2rem);
					background: vars.$divider-color;
				}
			}
		}

		> .subGroup {
			> .sub {
				> a {
					text-overflow: ellipsis;
					overflow: hidden;
					display: block;
				}
			}

			.newMulti {
				height: 2rem;
				display: flex;
				align-items: center;

				img {
					width: 1.65rem;
					height: 1.65rem;
					margin-right: .5rem;
				}

				div {
					white-space: nowrap;
					transition: all .25s ease;
				}

				&:hover div {
					color: vars.$primary;
					filter: brightness(1.25);
				}
			}
		}
	}

	.filterSearch {
		margin: 0.25rem 0 0.5rem 0;
		background: vars.$background-el2;
		padding: .25rem .5rem;
		border-radius: .5rem;
		caret-color: #999;
	}
}
