@use "../../../../style/vars";

.submitPost {
	width: vars.$widthM;
	@media (orientation: portrait) {
		width: calc(100% - 2rem);
	}
	background: vars.$background-el1;
	border: 1px solid #383838;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	height: max-content;

	.phInput {
		height: 2rem;
		line-height: 2rem;
		display: flex;
		align-items: center;

		> input {
			flex-grow: 1;
		}

		&.sub {
			max-width: 18rem;

			.validStatus {
				height: 1.5rem;
			}

			.subInfoButtonWrapper {
				height: 1.1rem;
				--dim: 1.75rem;
			}
		}
	}

	.el2 {
		background: #292929;
		border: 1px solid #383838;
		margin: .5rem 0;
		padding: 0 .75rem;
	}

	.textarea.phInput {
		padding: .5rem;
		height: auto;

		textarea {
			width: 100%;
			resize: vertical;
			min-height: 5rem;
		}
	}

	.roundedL {
		border-radius: 1rem;
	}

	.roundedM {
		border-radius: 0.5rem;
	}

	.button {
		background: vars.$background;
	}

	.sectionSelection {
		width: calc(100% + 2rem);
		margin: 1rem 0 1rem -1rem;
		height: 3rem;
		font-size: 1.24rem;
		display: flex;
		padding: 0;
		border-right-width: 0;
		border-left-width: 0;

		> button {
			line-height: 3rem;
			flex-grow: 1;
			transition: background-color .25s ease;

			&:hover {
				background: #333333;
			}

			&.selected, &:active {
				background: #404040;
			}
		}
	}
}
