@use "../../../../style/vars";

.message {
	padding: 1rem;

	&.unread {
		border-color: vars.$text;
	}

	.header {
		flex-wrap: wrap;
		margin-bottom: .25rem;
		align-items: center;

		> * {
			margin: 0 .125rem;
		}

		> span {
			font-size: .8em;
			margin: 0 0.1rem;
		}

		.replies {
			margin-left: auto;
		}
	}

	.markRead {
		position: absolute;
		top: .5rem;
		right: .5rem;
	}
}

.markRead {
	width: 2rem;
	height: 2rem;
	background-image: url("/img/check.svg");
	background-size: contain;
}
